.env*
node_modules/

.env.local
.env.example
nginx.conf
supabase/config.toml
docker-compose.yml
supabase/storage
supabase/functions
supabase/migrations
supabase/migrations
.env.development
.env.production
.env.test
.env.staging
.env.production
.env.test
.vercel/
.vercel.json
.vercelignore
.vscode/
.vercel
.vscode
.next
dockerfile.*
database/*
database
docs