.env*
node_modules/

.env.local
.env.example
.env.development
.env.production
.env.test
.env.staging
.env.production
.env.test
.vercel/
.vercel.json
.vercelignore
.vscode/
.vercel
.vscode
.next
database/*
database
docsx
.husky

